fastapi
uvicorn[standard]
pydantic
python-multipart
langchain-groq
aiofiles
elasticsearch>=8.0.0,<9.0.0
PyPDF2
python-docx
sentence-transformers
torch
sqlalchemy
rapidfuzz
langchain-community
tavily-python

